@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "pf_agora_slab_probold";
  src: url("../fonts/pfagoraslabpro-bold-webfont.eot");
  src: url("../fonts/pfagoraslabpro-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/pfagoraslabpro-bold-webfont.woff2") format("woff2"),
    url("../fonts/pfagoraslabpro-bold-webfont.woff") format("woff"),
    url("../fonts/pfagoraslabpro-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pf_agora_slab_promedium";
  src: url("../fonts/pfagoraslabpro-medium-webfont.eot");
  src: url("../fonts/pfagoraslabpro-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/pfagoraslabpro-medium-webfont.woff2") format("woff2"),
    url("../fonts/pfagoraslabpro-medium-webfont.woff") format("woff"),
    url("../fonts/pfagoraslabpro-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Arvo", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(34, 36, 42);
  background-image: url("../img/desk/bg-desk-big.webp");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

body::before {
  display: block;
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/svg/lion-bg.svg");
  background-repeat: no-repeat;
  background-position: top 92px center;
  background-size: 574px 654px;
  z-index: -10;
}

.content {
  position: relative;
  z-index: 2; /* Контент на переднем плане */
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 375px;
}

.section {
  padding: 25px 0 25px 0;
}

.page-header {
  padding: 105px 0 25px 0;
}

.logo {
  width: 92px;
  margin-bottom: 40px;
}
.main-title {
  width: 202px;
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 16px;
}
.descr-list {
  font-family: "pf_agora_slab_promedium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}

.main-link-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-link-list-item {
  display: block;
  max-width: 295px;
  padding: 28px 0 28px 20px;
  border: 1px solid #414141;
  border-radius: 7px;
}

.language-toogle-section {
  padding: 35px 0 45px 0;
}

.lang-btn-list {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.lang-btn-list::before {
  display: block;
  content: " ";
  width: 13px;
  height: 13px;
  background-image: url("../img/svg/lang.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.language-btn-list-item {
  display: flex;
  align-items: center;
}

.language-btn-list-item:not(:last-child)::after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.21);
  margin-left: 9px;
}

.language-btn {
  border: none;
  padding: 0;
  line-height: normal;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.21);
  cursor: pointer;
}

.isActiveLangBtn {
  color: #fff;
}

.footer {
  padding: 40px 0 50px 0;
  text-align: center;
  font-family: "pf_agora_slab_promedium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #484a4f;
}
.privacy-policy {
  max-width: 248px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  body::before {
    background-position: top 373px center;
    position: absolute;
  }

  .container {
    margin: 0 auto;
    padding: 0 111px;
    max-width: 574px;
  }

  .section {
    padding: 40px 0 31px 0;
  }

  .page-header {
    padding: 99px 0 40px 0;
  }

  .logo {
    width: 130px;
    margin-bottom: 34px;
    position: relative;
    left: -65px;
    top: 0;
  }

  .main-title {
    width: 374px;
    font-size: 35px;
  }
  .descr-list {
    line-height: 1.55;
  }

  .main-link-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-link-list-item {
    max-width: 352px;
    padding: 23px 0 23px 37px;
    border: 1px solid #414141;
    border-radius: 7px;
    transition: background-color 250ms linear;
  }

  .main-link-list-item:hover,
  .main-link-list-item:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .language-btn {
    transition: color 250ms linear;
  }

  .language-btn:hover {
    color: rgba(255, 255, 255, 0.4);
  }

  .footer {
    padding: 31px 0 86px 0;
    line-height: 2;
    color: #484a4f;
    text-align: center;
  }
  .privacy-policy {
    max-width: 335px;
  }
}
